{% extends 'base.html' %}
{% block title %} Registration {% endblock %}

{% block content %}


<form method="POST" action="profile">


<center> 

<br> 

<h1> Registration </h1> 
             <div class="form-group">
             <label> Enter Family Id Number </label>
                    <input class="form-center-small" name = "fid" maxlength = "7" id="fid" placeholder="Enter Family id Number">
 <!--                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

                <label> Enter M Id  </label>
                    <input class="form-center-small" name = "mid" maxlength = "7" id="mid" placeholder="Enter M id Number">
            <br>
          <!-- <button type="submit" class="btn btn-primary">Resend OTP</button> -->
<!--                     <div class="form-group">
                    <label for="hof">Head of Family</label>
                    <select class="form-center-small" id="hof" name = "hof">
                      <option>Yes</option>
                      <option>No</option>
                      </div>
          </div> -->
 
<button type="submit" class="btn btn-primary">Submit OTP</button>

</center>

</form>
{% endblock %}

