<!DOCTYPE html>
<html>
<head>
  <title>Block Elect</title>
  <link href='static/css.css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='static/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body class="container">
  <h1>Block Elect</h1>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Candidate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Anuj</td>
        </tr>
        <tr>
          <td>Dinesh</td>
        </tr>
        <tr>
          <td>Dushyant</td>
        </tr>
      </tbody>
    </table>
  </div>
  Enter candidate name
  <br>
  <input type="text" id="candidate" />
  <a href="#" onclick="voteForCandidate()" class="btn btn-primary" id="voterButton">Vote</a>
  <br>
  <br>
  Enter voter name
  <br>
  <input type="text" id="voter" />
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
<script src="static/web3.js"></script>
<script src="static/jquery-3.1.1.slim.min.js"></script>
<script src="./index.js"></script>
</html>